<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BookStore" value="Group02 BookStore"/>
	</appSettings>
	<connectionStrings>
		<add name="BookStoreDb" connectionString="Data Source=.; Initial Catalog=BookStoreDb; Integrated Security=True; Encrypt=False; Trust Server Certificate=True"/>
	</connectionStrings>
</configuration>